* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --gray-background-color: #e0dde0;
  --gray-border-color: #e0dde0;
  --gray-font-color: #686565;
  --success-background-color: #48874d;
  --danger-background-color: #cd3e41;
  --light-color: #fff;
  --warning-background-color: #fbf4cc;
  --warning-color: #9c8428;
}

/* body {
  background-color: antiquewhite;
} */
main {
  max-width: 1200px;
  overflow: auto;
  min-height: 100vh;
  background-color: #f8f6f8;
  margin: 0 auto;
}

/* ===BUTTONS===*/

.btn-success {
  background-color: var(--success-background-color);
  color: var(--light-color);
}
.btn-danger {
  background-color: var(--danger-background-color);
  color: var(--light-color);
}
.button {
  width: 100px;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.3em;
  border: none;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
  font-weight: bold;
}

/* ===  ==*/
.show {
  display: block !important;
}

/* ===MEDIA QUERIES=== */

@media screen and (max-width: 480px) {
  main {
    padding: 2em;
  }
}
