.container {
  max-width: 600px;
  margin: 20vh auto;
  border: 1px solid var(--gray-border-color);
  color: var(--gray-font-color);
  background-color: var(--light-color);
}

.container h1 {
  padding: 0.5em 1.5em;
  background-color: var(--gray-background-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

@media screen and (max-width: 480px) {
  .container {
    margin: 10vh auto;
  }

  .btnGroup {
    justify-content: space-between;
  }
}
